<!-- Beginning of Footer -->
<nav class="navbar sticky-bottom navbar-expand-lg navbar-light bg-light footer ">
  <a class="navbar-brand" href="#"><img class="metroLogo" src="/images/croppedMetroLogo.jpg" alt="img"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="address">
        <br>
        <p>
        Metro Engineering & Survey LLC
        <br>
        623.466.6640
        <br>
        7777 N. 70th Avenue
        <br>
        Glendale, AZ 85303
        </p>
      </li>



    </ul>



    <p>&copy; Metro Engineering & Survey LLC</p>



  </div>
</nav>
<!-- Parallax -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
  </body>
</html>
