<% include ./partials/header %>
<!-- Header and Nav bar -->
<div class="add">
<h1 class="header">Add a Project</h1>

<form class="addForm" action="/projects/add" method="post">

  <input type="text" name="name" placeholder="Project Name" autofocus>
  <br>
  <input type="text" name="address" placeholder="Address">
  <br>
  <textarea name="description" rows="8" cols="80" placeholder="Description"></textarea>
  <br>
  <input type="text" name="img_url" placeholder="Image URL">
  <br>
  <input class="formBtn" type="submit">

</form>
</div>

<!-- Footer -->
<% include ./partials/footer %>
