<% include ./partials/header %>

<h1>Result</h1>
<h1>Date</h1>
<h1><%=result[0].date%></h1>
<%result.forEach((item)=>{%>
  <%if((item.clockin_time)){%>
    <h4>Clockin</h4>
      <p><%=item.clockin_time.slice(0,5)%></p>
  <%}else{%>
    <h4>Clockout</h4>
    <p><%=item.clockout_time.slice(0,5)%></p>
  <%}%>
  <%if(item.workingtime){%>
    <h4>Working Time</h4>
    <p><%=item.workingtime%> HOURS</p><hr>

  <%}%>

<%})%>



<% include ./partials/footer %>
