<% include ./partials/header %>
  <% include ./partials/topBanner %>

    <div class="container equipmentContainer">
      <div class="row">

        <div class="col-7">
          <h1>Equipment</h1>
          <img class="equipIMG" src="/images/survey.jpg" alt="picture">
        </div>

        <div class="col-5 equipList">

          <ul>
            <li>Trimble R8 M2 GPS Base & Rover Systems</li>
            <li>Trimble S6 Robotic Total Station</li>
            <li>Topcon Hiper+ GPS System</li>
            <li>Topcon GTS802A Robotic Total Station</li>
            <li>TSC2 Data Collectors</li>
            <li>FC200 Data Collectors</li>
            <li>PAC Crest PDL Base Kit</li>
            <li>Sokkia 32x Auto Levels</li>
            <li>Trimble Spectra 32x Auto Levels</li>
            <li>Sokkia AGL-EAGL Laser Levels</li>
            <li>AutoCAD 2012</li>
            <li>AutoCAD Civil 3D 2012</li>
          </ul>

        </div>
      </div>
    </div>

    <% include ./partials/bottomBanner %>
      <% include ./partials/footer %>
