<% include ./partials/header %>
  <% include ./partials/topBanner %>

    <div class="mainContainer">
      <sript src="" <div class="row about">
        <div class="col-5">
          <img class="indexIMG responsive" src="https://images.pexels.com/photos/2489/street-building-construction-industry.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="img">
        </div>
        <div class="col-5 responsiveTxt">
          <h4 class="mainList"><img class="arrow" src="/images/rover.jpg" alt="">
        <b><span>Professional Surveying</span></b> </h5>
        <div class="aboutTxt">
        <p class="paragraph">
      Metro Engineering and Survey, LLC. was started in 2013 to provide engineering and surveying to the state of Arizona. Surveying has been an essential component of ours since inception. Our surveyor teams work closely with office personnel to implement
      the Engineer's plans in the field of construction. We have extensive experience in all types of surveying, including construction staking of both commercial and residential developments, topography, ALTA surveys, plats, rights-of-way, boundaries,
      monitor wells, drainage and sanitary systems, utilities, pipeline surveys, bridges, design control surveying, irrigation and power distribution projects and final asbuilts.
      </p>
      </div>
      </div>
    </div>
  </div>
  <% include ./partials/bottomBanner %>
  <div id="map">
  </div>
  <script src="/maps/map.js" defer></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4kCsomfpNUDQH2ea9JWK-xfYoZuawXeM&callback=initMap"></script>
  <% include ./partials/footer %>
