<% include ./partials/header %>
  <% include ./partials/topBanner %>

    <div class="container profileContainer">
      <div class="row">
        <div class="col-4">
          <img class="profile" src="/images/brandon.jpg" alt="">
        </div>

        <br>
        <div class="col-6">
          <h1>Brandon Gallimore</h1>
          <p>
            <h6>Education</h6>
            <ul>
              <li>Bachelor of Science in Heavy Construction, Arizona State University</li>
              <li>Minor in Business, Arizona State University</li>
            </ul>

            <h6 class="experince">Experience & Recent Projects</h6>
            <ul>
              <li>Lake Pleasant Medical Center</li>
              <li>ASU Research Park Plan</li>
              <li>Coordinate and supervise the work of survey crews Strong emphasis on transportation projects Responsible for construction staking using the latest survey equipment including Trimble R6 GPS receivers and TSC2 Data Collector</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="row profileRows">
        <div class="col-4">
          <img class="profile" src="/images/fakeDon.jpg" alt="">
        </div>

        <br>
        <div class="col-6">
          <h1>Don Doell</h1>
          <p>
            <h6>Education</h6>
            <ul>
              <li>Lethbridge Community College, Lethbridge, Alberta, Canada</li>
              <li>Civil Engineering Technologies, Diploma</li>
            </ul>

            <h6 class="experince">Experience & Recent Projects</h6>
            <ul>
              <li>Registered Land Surveyor of Arizona</li>
              <li>202 Widening</li>
              <li>Munds Park Traffic Interchange</li>
              <li> Cibeque Bridge</li>
              <li>Ford Test Track</li>
              <li>I-8 and US-60</li>
              <li>Coordinate and supervise the work of survey crews Strong emphasis on transportation projects Responsible for construction staking using the latest survey equipment including Trimble R6 GPS receivers and TSC2 Data Collector</li>
            </ul>
          </p>
        </div>
      </div>

    </div>


    <% include ./partials/bottomBanner %>
      <% include ./partials/footer %>
