<% include ./partials/header %>


  <div class="container-fluid login-page">




    <div class="login-box">

<!--EMPLOYEE LOGIN -->
      <div class="employee-login-box">
        <h3 id="login-header">Employee Register</h3>
        <form class="login-form" action="register" method="post">

          <i class="fas fa-users fa-9x" id="login-icon"></i><br><br>
          <input type="text" id="login-input" name="name" placeholder="NAME"><br>
          <input type="text" id="login-input" name="email" placeholder="EMAIL"><br><br>
          <input type="password" id="login-input" name="password" placeholder="PASSWORD"><br><br>

          <a href="/clock">
            <button class="loginBtn" type="submit">LOGIN</button>
          </a>
          <br>
          <span class="psw" id="forgot"><b><a href="#">Forgot password?</a></b></span><br><br>
        </form>
        <br>
      </div>


      <!-- <div class="employee-login-box">
        <h3 id="login-header">BOSS Register DONT WORK YET</h3>
        <form class="login-form" action="login" method="post">

          <i class="fas fa-users fa-9x" id="login-icon"></i><br><br>
          <input type="text" id="login-input" name="email" placeholder="EMAIL"><br><br>
          <input type="password" id="login-input" name="password" placeholder="PASSWORD"><br><br>

          <a href="/clock">
            <button class="loginBtn" type="submit">LOGIN</button>
          </a>
          <br>
          <span class="psw" id="forgot"><b><a href="#">Forgot password?</a></b></span><br><br>
        </form>
        <br>
      </div> -->
  </div>
